p{
    font-family: tahoma, arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    float: left;
}
label{
    font-family: tahoma, arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    float: left;
    padding-right:20px;
}